<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.order.dao.BillMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.order.pojo.Bill" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="table_id" property="tableId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="money_total" property="moneyTotal" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="CHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, table_id, state, money_total, create_user, create_time, update_user, update_time, 
    delete_flag
  </sql>
  
  <insert id="insert" parameterType="com.example.demo.order.pojo.Bill" useGeneratedKeys="true" keyProperty="id" >
    insert into bill (table_id, state, 
      money_total, create_user, create_time, 
      update_user, update_time, delete_flag
      )
    values (#{tableId,jdbcType=INTEGER}, #{state,jdbcType=TINYINT}, 
      #{moneyTotal,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=CHAR}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=CHAR}, #{deleteFlag,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.order.pojo.Bill" >
    update bill
    <set >
      <if test="tableId != null" >
        table_id = #{tableId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="moneyTotal != null" >
        money_total = #{moneyTotal,jdbcType=INTEGER},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=CHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=CHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBillById" resultMap="BaseResultMap" parameterType="int" >
    select id,table_id,state,money_total,create_time,create_user from bill where id=#{id}
  </select>
  <select id="selectBillByIdRange" resultMap="BaseResultMap" parameterType="int" >
    select id,table_id,state,money_total,create_time,create_user from bill where id&gt;=#{0} and id&lt;=#{1}
  </select>
  
  <select id="selectBillByTableId" resultMap="BaseResultMap" parameterType="int" >
    select id,table_id,state,money_total,create_time,create_user from bill where table_id = #{tableId}
  </select>
  <select id="selectBillByTableIdRange" resultMap="BaseResultMap" parameterType="int" >
    select id,table_id,state,money_total,create_time,create_user from bill where table_id&gt;=#{0} and table_id&lt;=#{1}
  </select>
  
  <select id="selectBillByTotalPrize" resultMap="BaseResultMap" parameterType="int" >
    select id,table_id,state,money_total,create_time,create_user from bill where money_total=#{moneyTotal}
  </select>
  <select id="selectBillByTotalPrizeRange" resultMap="BaseResultMap" parameterType="int" >
    select id,table_id,state,money_total,create_time,create_user from bill where money_total&gt;=#{0} and money_total&lt;=#{1}
  </select>
  
  <select id="selectBillByState" resultMap="BaseResultMap" parameterType="int" >
    select id,table_id,state,money_total,create_time,create_user from bill where state=#{state}
  </select>
  <select id="selectBillByStateRange" resultMap="BaseResultMap" parameterType="int" >
    select id,table_id,state,money_total,create_time,create_user from bill where state&gt;=#{0} and state&lt;=#{1}
  </select>
  
  <select id="selectMaxId" resultType="int" >
    select max(id) from bill
  </select>
</mapper>